    <table align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="background:#fff;border: 0;">
      <tbody>
        <tr>
          <td rowspan="2" style="a
            width: 120px;
            height: 60px;
            "><a href="http://www.vinotk-paris.fr/" style="background-color: white;"><img src="<%= asset_path("logo120x120.png") %>" width="120" height="120"></a></td>
          <td style="
            text-transform: uppercase;
            font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
            color: #333;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            padding-left: 20px;
            padding-top: 10px;
            line-height: 90px;
            "><%= @message %></td>
        </tr>
      </tbody>
    </table>