//= require active_admin/base
//= require chosen.jquery.js
//= require spin.min.js
//= require jquery.fileDownload.js
//= require jquery.ui.datepicker-fr.js
//= require just_datetime_picker/nested_form_workaround


$(document).ready(function(){
  $(".chzn-select").chosen({no_results_text: "Pas de resultat correspondant à "});
  $(".chzn-select-domaine").chosen({
      no_results_text: "Pas de resultat correspondant à ",
      create_option: function(domaine) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/domaines',
              type: 'POST',
              data: "domaine[libelle]="+domaine,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/domaines/")+"href=\"/domaines/".length , data.indexOf("/edit\">Edit</a>")));
                var name = domaine;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer le nouveau domaine '
   });
  $(".chzn-select-cuvee").chosen({
      no_results_text: "Pas de resultat correspondant à ",
      create_option: function(cuvee) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/cuvees',
              type: 'POST',
              data: "cuvee[libelle]="+cuvee,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/cuvees/")+"href=\"/cuvees/".length , data.indexOf("/edit\">Edit</a>")));
                var name = cuvee;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer la nouvelle cuvée '
   });
  $(".chzn-select-region").chosen({
      no_results_text: "Pas de resultat correspondant à ",
      create_option: function(region) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/regions',
              type: 'POST',
              data: "region[libelle]="+region,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/regions/")+"href=\"/regions/".length , data.indexOf("/edit\">Edit</a>")));
                var name = region;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer la nouvelle région viticole '
   });
  $(".chzn-select-type").chosen({
      no_results_text: "Pas de resultat correspondant à ",
      create_option: function(type) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/types',
              type: 'POST',
              data: "type[libelle]="+type,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/types/")+"href=\"/types/".length , data.indexOf("/edit\">Edit</a>")));
                var name = type;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer le nouveau type de vin '
   });
    $(".chzn-select-format").chosen({
      no_results_text: "Pas de resultat correspondant à ",
      create_option: function(format) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/volumes',
              type: 'POST',
              data: "volume[valeur]="+format,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/volumes/")+"href=\"/volumes/".length , data.indexOf("/edit\">Edit</a>")));
                var name = format;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer le nouveau format '
   });
  $(".chzn-select-millesime").chosen({
      no_results_text: "Pas de resultat correspondant à ",
      create_option: function(millesime) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/millesimes',
              type: 'POST',
              data: "millesime[valeur]="+millesime,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/millesimes/")+"href=\"/millesimes/".length , data.indexOf("/edit\">Edit</a>")));
                var name = millesime;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer le nouveau millésime '
   });

  $('.chzn-single').css('min-width','230px');
  $('.chzn-drop').css('min-width','240px');
  $('.chzn-search input').css('min-width','210px');

  $(".chzn-select[multiple]").before('<span class="selectAll selectAction"><%= I18n.translate! 'actions.select_all' %></span>');
  $(".chzn-select[multiple]").before('<span class="deselectAll selectAction"><%= I18n.translate! 'actions.unselect_all' %></span>');

  $('head').append("<link rel='shortcut icon' href='/assets/favicon.ico'>");
  
  $("form").submit(function() {
    launchSpinner();
    return true;
  });
  
  $("a.send_newsletter").on("click", function( event ) {
    launchSpinner();
  });
  $("a.generatePDF").on("click", function( event ) {
    launchSpinner();
    $.fileDownload($(this).attr('pdf'),
    {
      successCallback: function (url) {
        stopSpinner();
      },
      failCallback: function (responseHtml, url) {
        stopSpinner();
      }
    });
    return false;
  });
  
  $(".selectAll").on("click", function( event ) {
    $(".chzn-select option ").prop("selected", true);
    $(".chzn-select").trigger("liszt:updated");
  });
$(".deselectAll").on("click", function( event ) {
    $(".chzn-select option ").prop("selected", false);
    $('.search-choice').remove()
    $(".chzn-select").trigger("liszt:updated");
  });

$('input.datepicker:not(.hasDatepicker)').datepicker({ dateFormat: 'dd-mm-yy' });
$('#bouteille_prix').spinner({
      min: 0,
      max: 1000,
      step: 0.05,
      start: 1000,
      culture: "de-DE",
      numberFormat: "C"
    });
$('.just-datetime-picker-time-hour').spinner({
      min: 0,
      max: 23,
      step: 1,
      start: 0
    });
$('.just-datetime-picker-time-minute').spinner({
      min: 0,
      max: 59,
      step: 1,
      start: 0
    });

})

function launchSpinner(){
  var spinner = new Spinner().spin();
  spinnerContainer=document.createElement('div');
  
  $("#wrapper").append($(spinnerContainer).attr('id', 'spinnerContainer').append(spinner.el));
  var docHeight = $(document).height();
  $("body").append("<div id='overlay'></div>");
  $("#overlay").height(docHeight);
}

function stopSpinner(){
  $('#spinnerContainer').remove();
  $("#overlay").remove();
}

function readURL(evt){
  var files = evt.target.files; // FileList object
  $(evt.target).closest('li').find('.inline-hints img').addClass("loading")
  // Loop through the FileList and render image files as thumbnails.
  for (var i = 0, f; f = files[i]; i++) {
    // Only process image files.
    if (!f.type.match('image.*')) {
      continue;
    }
    var reader = new FileReader();
    // Closure to capture the file information.
    reader.onload = (function(theFile) {
      return function(e) {
        // Render thumbnail.
        $('.inline-hints img.loading').attr('src',e.target.result);
        $('.inline-hints img.loading').removeClass('loading');
      };
    })(f);
    // Read in the image file as a data URL.
    reader.readAsDataURL(f);
  }
}
  
 
