//= require active_admin/base
//= require chosen.jquery.js
//= require spin.min.js
//= require jquery.fileDownload.js
//= require jquery.ui.datepicker-fr.js

/*jquery-ui-bootstrap file-input */
//= require enhance.min.js
//= require fileinput.jquery.js

//= require confirm-dialog.js.coffee
//= require just_datetime_picker/nested_form_workaround

//= require sortable_forms.js.coffee

$(document).ready(function(){
  launchSpinner();
  $(".member_link.view_link").wrap('<div class="table_action" title="'+$(".member_link.view_link").first().text()+'">').text('')
  $(".member_link.view_link").prepend('<i class="icon-eye">')
  $(".member_link.edit_link").wrap('<div class="table_action" title="'+$(".member_link.edit_link").first().text()+'">').text('')
  $(".member_link.edit_link").prepend('<i class="icon-pencil">')
  $(".member_link.delete_link").wrap('<div class="table_action" title="'+$(".member_link.delete_link").first().text()+'">').text('')
  $(".member_link.delete_link").prepend('<i class="icon-trash">')
  $(".member_link.generatePDF").wrap('<div class="table_action" title="'+$(".member_link.generatePDF").first().text()+'">').text('')
  $(".member_link.generatePDF").prepend('<i class="icon-doc-text-inv">')
  $(".member_link.send_newsletter").wrap('<div class="table_action" title="'+$(".member_link.send_newsletter").first().text()+'">').text('')
  $(".member_link.send_newsletter").prepend('<i class="icon-mail-alt">')
  
  $("li#logout").attr('title',$("li#logout").first().text())
  $("li#logout").text('     ')
  $("li#logout").prepend('<i class="icon-power">')
  

  if($("#filters_sidebar_section").length != 0)
  {
    $("#filters_sidebar_section").addClass('close');
    $("#main_content").addClass('close');
    $("#filters_sidebar_section").prepend("<i class='icon-down-dir'>");
  }
  $("#filters_sidebar_section").on("click", function( event ) {
    if($(this).hasClass('open'))
    {
      $(this).removeClass('open');
      $("#main_content").removeClass('open');
      $(this).addClass('close');
      $("#main_content").addClass('close');
      $(this).find('i').removeClass('icon-up-dir').addClass('icon-down-dir');
    }
    else
    {
      $(this).removeClass('close');
      $("#main_content").removeClass('close');
      $(this).addClass('open');
      $("#main_content").addClass('open');
      $(this).find('i').removeClass('icon-down-dir').addClass('icon-up-dir');
    } 

  });
  /** TOOLTIPS**/
  $("th a").closest("th").each(function( index ) {
    $(this).attr("title", $.trim($(this).find('a').first().text()));
  });
  $("th:not(:has(>a, div))").each(function( index ) {

    $(this).attr("title", $(this).text());
  });
  $( document ).tooltip({
      position: {
        my: "center bottom-15",
        at: "center top",
        using: function( position, feedback ) {
            $( this ).css( position );
            $( "<div>" )
            .addClass( "arrow bottom" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
    }
    });
   /** INPUT FILE**/
  $('input:file').customFileInput({
    button_position : 'right',
    feedback_text   : '',
    button_text     : 'Parcourir...',
    button_change_text  : 'Changer'
  });
  /** AUTOCOMPLETE AUTO SUGGEST**/
  $(".chzn-select").chosen();
  $('#filters_sidebar_section select[multiple] option[value=""]').remove()
  $(".filter-chzn-select").chosen();

  $(".chzn-select-domaine").chosen({
      create_option: function(domaine) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/domaines',
              type: 'POST',
              data: "domaine[libelle]="+domaine,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/domaines/")+"href=\"/domaines/".length , data.indexOf("/edit\">Edit</a>")));
                var name = domaine;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true,
      create_option_text: 'Créer'
   });
  $(".chzn-select-cuvee").chosen({
      create_option: function(cuvee) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/cuvees',
              type: 'POST',
              data: "cuvee[libelle]="+cuvee,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/cuvees/")+"href=\"/cuvees/".length , data.indexOf("/edit\">Edit</a>")));
                var name = cuvee;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true
   });
  $(".chzn-select-region").chosen({
      create_option: function(region) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/regions',
              type: 'POST',
              data: "region[libelle]="+region,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/regions/")+"href=\"/regions/".length , data.indexOf("/edit\">Edit</a>")));
                var name = region;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true
   });
  $(".chzn-select-type").chosen({
      create_option: function(type) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/types',
              type: 'POST',
              data: "type[libelle]="+type,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/types/")+"href=\"/types/".length , data.indexOf("/edit\">Edit</a>")));
                var name = type;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true
   });
    $(".chzn-select-format").chosen({
      create_option: function(format) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/volumes',
              type: 'POST',
              data: "volume[valeur]="+format,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/volumes/")+"href=\"/volumes/".length , data.indexOf("/edit\">Edit</a>")));
                var name = format;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true
   });
  $(".chzn-select-millesime").chosen({
      create_option: function(millesime) {
          launchSpinner();
          var choosen = this;
          $.ajax({
              url: '/millesimes',
              type: 'POST',
              data: "millesime[valeur]="+millesime,
              success: function(data) {
                var id = parseInt(data.substring(data.indexOf("href=\"/millesimes/")+"href=\"/millesimes/".length , data.indexOf("/edit\">Edit</a>")));
                var name = millesime;
                choosen.append_option({
                  value: id,
                  text: name
                });
                stopSpinner();
              }
          });
      },
      persistent_create_option: true
   });

  $('.chzn-single').css('min-width','230px');
  $('.chzn-drop').css('min-width','240px');
  $('.chzn-search input').css('min-width','210px');

  $(".chzn-select[multiple]").before("<span class='selectAll selectAction'><%= I18n.translate! 'actions.select_all' %></span>");
  $(".chzn-select[multiple]").before("<span class='deselectAll selectAction'><%= I18n.translate! 'actions.unselect_all' %></span>");
  $(".selectAll").on("click", function( event ) {
    $(".chzn-select option ").prop("selected", true);
    $(".chzn-select").trigger("liszt:updated");
  });
  $(".deselectAll").on("click", function( event ) {
    $(".chzn-select option ").prop("selected", false);
    $('.search-choice').remove()
    $(".chzn-select").trigger("liszt:updated");
  });
  /** FAV ICON**/
  $('head').append("<link rel='shortcut icon' href='/assets/favicon.ico'>");
  
   /** FEED BACK **/
  $("form").submit(function() {
    launchSpinner();
    return true;
  });
  
  $("a.send_newsletter").on("click", function( event ) {
    launchSpinner();
  });
  $("a.generatePDF").on("click", function( event ) {
    launchSpinner();
    $.fileDownload($(this).attr('pdf'),
    {
      successCallback: function (url) {
        stopSpinner();
      },
      failCallback: function (responseHtml, url) {
        stopSpinner();
      }
    });
    return false;
  });
  
  
    /** DATE INPUT **/
    $('input.datepicker:not(.hasDatepicker)').datepicker({ dateFormat: 'dd-mm-yy' });

    /** SPINNER **/
    $('.spinner_percent').spinner({
      min: 0,
      max: 100,
      step: 0.05,
      start: 100
    });
    $('.spinner_, #prix_gte_numeric, #prix_lte_numeric, #bouteille_prix').spinner({
      min: 0,
      max: 1000,
      step: 0.05,
      start: 1000
    });
    $('.just-datetime-picker-time-hour').spinner({
      min: 0,
      max: 23,
      step: 1,
      start: 0
    });
    $('.just-datetime-picker-time-minute').spinner({
      min: 0,
      max: 59,
      step: 1,
      start: 0
    });
    $(".just-datetime-picker-time-hour").closest(".ui-spinner").after("<span class='separator'>:</span>")
    $(".has_many_remove.button").on("click", function( event ) {
      $(this).closest('.has_many_fields').hide();
      return true;
    });
    $('.has_many.newsletters_bouteilles a.button').on("click", function( event ) {
      $(".chzn-select").chosen();
      $('.spinner_percent').spinner({
        min: 0,
        max: 1000,
        step: 0.05,
        start: 1000
      });
    });
  stopSpinner();

})



function launchSpinner(){
  var spinner = new Spinner().spin();
  spinnerContainer=document.createElement('div');
  
  $("#wrapper").append($(spinnerContainer).attr('id', 'spinnerContainer').append(spinner.el));
  var docHeight = $(document).height();
  $("body").append("<div id='overlay'></div>");
  $("#overlay").height(docHeight);
}

function stopSpinner(){
  $('#spinnerContainer').remove();
  $("#overlay").remove();
}

function readURL(evt){
  var files = evt.target.files; // FileList object
  $(evt.target).closest('li').find('.inline-hints img').addClass("loading")
  // Loop through the FileList and render image files as thumbnails.
  for (var i = 0, f; f = files[i]; i++) {
    // Only process image files.
    if (!f.type.match('image.*')) {
      continue;
    }
    var reader = new FileReader();
    // Closure to capture the file information.
    reader.onload = (function(theFile) {
      return function(e) {
        // Render thumbnail.
        $('.inline-hints img.loading').attr('src',e.target.result);
        $('.inline-hints img.loading').removeClass('loading');
      };
    })(f);
    // Read in the image file as a data URL.
    reader.readAsDataURL(f);
  }
}
  
 
