// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "chosen";
@import "just_datetime_picker/base";
@import "jquery-ui-1.10.3.custom.min.css";
@import "bouteilles";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.chzn-select{
  min-width:200px;
}
span.status_tag.rouge{
background-color: rgb(209, 0, 0);
}

span.status_tag.whisky{
background-color: rgb(238, 123, 33);
}
span.status_tag.rose{
background-color: rgb(224, 187, 214)
}
span.status_tag.blanc{
background-color: rgb(228, 233, 193)
}
span.status_tag.aperitif{
background-color: rgb(62, 138, 33)
}
span.status_tag.effervescent{
background-color: rgb(71, 152, 255)
}

a.member_link.delete_link{
    text-indent:-9999px!important;
    display: inline-block!important;
    background-image:url('/assets/trash.png');
    height:32px;
    width:32px;
}
a.member_link.view_link{
    text-indent:-9999px!important;
    display: inline-block!important;
    background-image:url('/assets/view.png');
    height:32px;
    width:32px;
}
a.member_link.edit_link{
    text-indent:-9999px!important;
    display: inline-block!important;
    background-image:url('/assets/edit.png');
    height:32px;
    width:32px;
}

th.prix{
	max-width: 50px;
	min-width: 50px;
}


div.index_as_table th:last-child
{
	width: 120px;
}

#collection_selection .prix, #main_content .prix{
  text-align: right;
}
#collection_selection .format, #main_content .format{
  text-align: right;
}
#collection_selection .millésime, #main_content .millésime {
  text-align: right;
}
#collection_selection .type, #main_content .type {
  width: 110px;
}
#collection_selection .nouveau, #main_content .nouveau {
  padding: 0px;
}

#main_content .nouveau  img{
  height: 22px;
}
#collection_selection .nouveau img{
  height: 44px;
}

.inline-hints img {max-height: 238px; max-width: auto;}
.inline-hints img {max-height: auto; max-width: 238px;}

#spinnerContainer {
  width: 50px;
  height: 50px;
  background-color: white;
  padding-left: 50px;
  padding-top: 50px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  z-index: 900;
}

#overlay
{
  opacity : 0.4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 800;
}

#client-last{
  width: 33%!important;
}
#bouteille-new{
  width: 65%!important;
}
.selectAction {
  margin: 5px!important;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold!important;
  font-size: 1.0em!important;
  font-family: Helvetica, Arial, sans-serif!important;
  line-height: 20px;
  margin-right: 3px!important;
  padding: 2px 14px 2px!important;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7')!important;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7')!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7!important;
  border-color: #c7c7c7;
  border-top-color: lightgrey!important;
  border-right-color: #c7c7c7!important;
  border-bottom-color: #c2c2c2!important;
  border-left-color: #c7c7c7!important;
  text-shadow: white 0 1px 0;
  color: #5e6469;
}

#catalogue_bouteille_ids_chzn{
  width: 615px;
  margin-top: 11px;
  margin-left: 20%;
  display: inline-block;
}

#main_content .just-datetime-picker-time-hour, #main_content .just-datetime-picker-time-minute
{
  width: 25px!important;
  margin-left: 0ex!important;
}
.ui-spinner{
  margin-left: 1ex!important;
}


