// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "chosen";
@import "bouteilles";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.chzn-select{
  min-width:200px;
}
span.status_tag.rouge{
background-color: rgb(209, 0, 0);
}

span.status_tag.whisky{
background-color: rgb(238, 123, 33);
}
span.status_tag.rose{
background-color: rgb(224, 187, 214)
}
span.status_tag.blanc{
background-color: rgb(228, 233, 193)
}
span.status_tag.aperitif{
background-color: rgb(62, 138, 33)
}
span.status_tag.effervescent{
background-color: rgb(71, 152, 255)
}

a.member_link.delete_link{
    text-indent:-9999px!important;
    display: inline-block!important;
    background-image:url('/assets/trash.png');
    height:32px;
    width:32px;
}
a.member_link.view_link{
    text-indent:-9999px!important;
    display: inline-block!important;
    background-image:url('/assets/view.png');
    height:32px;
    width:32px;
}
a.member_link.edit_link{
    text-indent:-9999px!important;
    display: inline-block!important;
    background-image:url('/assets/edit.png');
    height:32px;
    width:32px;
}

th.prix{
	max-width: 50px;
	min-width: 50px;
}


div.index_as_table th:last-child
{
	width: 120px;
}

#collection_selection .prix, #main_content .prix{
  text-align: right;
}
#collection_selection .format, #main_content .format{
  text-align: right;
}
#collection_selection .millesime, #main_content .millesime {
  text-align: right;
}

.inline-hints img {max-height: 238px; max-width: auto;}
.inline-hints img {max-height: auto; max-width: 238px;}

#spinnerContainer {
  width: 50px;
  height: 50px;
  background-color: rgba(138, 138, 138, 0.5);
  padding-left: 50px;
  padding-top: 50px;
  border-radius: 10px;
  margin-left: 300px;
  margin-top: -100px;
}