// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "chosen";
@import "just_datetime_picker/base";
@import "jquery-ui-1.10.3.custom.min.css";
@import "numeric_range";
@import "fontello.css";
@import "animation.css";
@import "bouteilles";
/*jquery-ui-bootstrap file-input */
@import "enhanced.css";

@import "sortable_forms";
@import "ckeditor";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.chzn-select{
  min-width:240px;
}

#edit_bouteille select[class*='chzn-select-'],  #new_bouteille select[class*='chzn-select-']{
  min-width:290px;
}

span.status_tag.new{
  background-color: #f89406;
}

span.status_tag{
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

th.prix{
	max-width: 50px;
	min-width: 50px;
}


div.index_as_table th:last-child
{
	width: 110px;
}

#collection_selection th a, #main_content th a{
  overflow: hidden!important;
}

#collection_selection th.prix_unité_€_ttc, #main_content th.prix_unité_€_ttc{
  max-width: 50px!important;
  min-width: 50px;
  text-align: right;
}
#collection_selection th.rabais, #main_content th.rabais{
  max-width: 50px!important;
  min-width: 50px;
  text-align: right;
}
#collection_selection th.région_viticole, #main_content th.région_viticole{
  max-width: 65px!important;
}
#collection_selection th.nouveau, #main_content th.neauveau{
  max-width: 30px!important;
}

#collection_selection .prix, #main_content table .prix{
  text-align: right;
}
#collection_selection .rabais, #main_content table .rabais{
  text-align: right;
}
#collection_selection .format, #main_content table .format{
  text-align: right;
}
#collection_selection .millésime, #main_content table .millésime {
  text-align: right;
}
#collection_selection .type, #main_content table .type {
  width: 110px;
}


.inline-hints img {max-height: 238px; max-width: auto;}
.inline-hints img {max-height: auto; max-width: 238px;}

#spinnerContainer {
  width: 50px;
  height: 50px;
  background-color: white;
  padding-left: 50px;
  padding-top: 50px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  z-index: 900;
}

#overlay
{
  opacity : 0.4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 800;
}

.selectAction {
  margin: 5px!important;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold!important;
  font-size: 1.0em!important;
  font-family: Helvetica, Arial, sans-serif!important;
  line-height: 20px;
  margin-right: 3px!important;
  padding: 2px 14px 2px!important;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7')!important;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7')!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7!important;
  border-color: #c7c7c7;
  border-top-color: lightgrey!important;
  border-right-color: #c7c7c7!important;
  border-bottom-color: #c2c2c2!important;
  border-left-color: #c7c7c7!important;
  text-shadow: white 0 1px 0;
  color: #5e6469;
}

#catalogue_bouteille_ids_chzn, #region_bouteille_ids_chzn, #cuvee_bouteille_ids_chzn, #millesime_bouteille_ids_chzn, #type_bouteille_ids_chzn, #volume_bouteille_ids_chzn, #domaine_bouteille_ids_chzn{
  width: 615px!important;
  margin-top: 11px;
  margin-left: 20%;
  display: inline-block;
}

#main_content .just-datetime-picker-time-hour, #main_content .just-datetime-picker-time-minute
{
  width: 25px!important;
  margin-left: 0ex!important;
}
.ui-spinner{
  //margin-left: 1ex!important;
}

.ui-spinner a.ui-spinner-button {
  border: 1px rgb(199, 199, 199) solid;
}

#site_title_image{
  top: -5px!important;
  height: 30px;
  width: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#site_title{
  padding-top: 0px!important;
}

/**** affichage de l'euro en hint **/
#bouteille_prix_input p.inline-hints {
  margin: -2em 0 0 26%;
}
#batch_actions_selector li
{
  max-width: 150px;
}
/*******HAS MANY*****/
#newsletters_bouteilles_section 
{

  div.has_many.newsletters_bouteilles
  {
    &.sortable
    {
      .inputs.has_many_fields
      {
        ol{
          li.number.input.optional.numeric.stringish:first-child
          {
            label, input{
              display: none;
            }
            height: 30px;
            padding-left: 0px;
            margin: 0px 0px 0px 3px;
          }

        }
        &:hover 
          {
            background: rgb(250, 250, 250);
            -webkit-box-shadow: inset 0 1px 4px #888888;
            li.number.input.optional.numeric.stringish:first-child
            {
              background: url('/assets/grippy_large.png') no-repeat 1px 50%!important;
            }
          }
      }
    }
    .inputs.has_many_fields
    {
      padding: 0px 0;
      margin-bottom: 5px;
      > ol > li {
        p.inline-hints {
          font-size: 0.95em;
          font-style: italic;
          color: #666;
          margin: -2em 0 0 104%;
        }
      }
      li
      {

        float: left;
        label
        {
          width:60px;
          line-height: 30px;
        }
        

        &.has_many_remove.button.boolean.input
        {
          margin-bottom: 17px;
          margin-top: 1px;
          float: right;
          label
          {
            background: #8b9297;
            background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
            background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
            background: linear, -90deg, #8b9297, #484d51;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
            -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
            -webkit-border-radius: 200px;
            -moz-border-radius: 200px;
            border-radius: 200px;
            display: inline-block;
            font-weight: bold;
            font-size: 1.0em;
            font-family: Helvetica, Arial, sans-serif;
            line-height: 12px;
            margin-right: 3px;
            padding: 7px 16px 6px;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            background: #838a90;
            background: -webkit-linear-gradient(-90deg, #838a90, #414549);
            background: -moz-linear-gradient(-90deg, #838a90, #414549);
            background: linear, -90deg, #838a90, #414549;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
            -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
            text-shadow: black 0 1px 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
            border: solid 1px #484e53;
            border-color: #484e53;
            border-top-color: #616a71;
            border-right-color: #484e53;
            border-bottom-color: #363b3f;
            border-left-color: #484e53;
            color: #efefef;
            cursor: pointer;
            input
            {
              display: none;
            }
          }
        }
      }
      .table_action {
          float: right;
          margin-top: 10px !important;
          margin-right: 10px !important;
        }
    }
  }
}

/***********datepicker*************/

body.active_admin .ui-datepicker .ui-datepicker-header a {
  margin-top: 8px;
}
body.active_admin .ui-datepicker .ui-datepicker-header a:active {
  margin-top: 8px;
}
/***********table_action*************/
.table_action i{
  line-height: 30px;
  padding-left: 5px;
  padding-right: 4px;
  font-size: 14px;
  cursor: pointer;

}
.table_action{
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  float : left;
  margin-top: -2px!important;
  margin-left: 7px!important;

}
.table_action:hover{
  background-color: #AAAAAA;
}
.table_action:hover i {
  color : #FFFFFF;
}

/***********logout*************/
#utility_nav
{
  margin-top: -4px!important;
}
#logout i{
  line-height: 17px;
  padding: 0px;
  font-size: 14px;
  cursor: pointer;

}
#logout a{
  padding: 0px!important;
}
#logout:hover a
{
  background-color: #AAAAAA!important;
}
#logout{
  display: inline-block!important;
  width: 21px;
  height: 17px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  margin: 0px!important;
  padding: 4px;

}
#logout:hover{
  background-color: #AAAAAA;
}
#logout:hover i {
  color : #FFFFFF;
}
#logout:hover > a
#utility_nav {
  top: -3px!important;
}
/***********TOOLTIP*************/
  .ui-tooltip {
    display: block;
    font-size: 11px;
    opacity: 0.8;
    position: absolute;
    visibility: visible;
    z-index: 1024;
    max-width: 200px;
    min-width: 50px;
}

.ui-tooltip {
    background: #000000;
    border: 1px solid #000000;
}

.ui-tooltip {
    color: #FFFFFF;
    padding: 4px 9px!important;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 0 #000000; /* Safari 4 */
    -moz-box-shadow: inset 0 1px 0 #000000; /* Firefox 3.6 */
    box-shadow: inset 0 1px 0 #000000;
    border-radius: 4px 4px 4px 4px;
}

body .ui-tooltip {
  border-width: 1px;
}

.arrow {
    overflow: hidden;
    position: absolute;
    margin-left: 0;
    height: 20px;
    width: 20px;
}

.arrow.bottom {
    top: 100%;
    left: 38%;
}

.arrow.top {
    top: -50%;
    bottom: 22px;
    left: 42%;
}

.arrow.left {
    top : 25%;
    left: -15%;
    right: 0;
    bottom:-16px;
}

.arrow.right {
    top: 26%;
    left: 100%;
    right: 0;
    bottom:-16px;
    margin-left: 1px;
}

.arrow:after {
    content : " " ;
    position : absolute ;
    height : 0 ;
    left:0;
    top: 0;
    width: 0;
    margin-left : 0 ;
    bottom : 12px ;
    box-shadow: 6px 5px 9px -9px black;
}

.arrow.bottom:after {
    border-top:8px solid #000000;
    border-right:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid transparent;
}

.arrow.top:after {
    border-top:7px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid #000000;
    border-left:6px solid transparent;
}

.arrow.left:after{
    width:0;
    border-top: 6px solid transparent;
    border-right: 6px solid #000000;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
}

.arrow.right:after{
    width:0;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #000000;
}
/***********Dialog ********/

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  width: 300px;
  overflow: hidden;
  outline: 0;
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); /* Safari 4 */
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); /* Firefox 3.6 */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  /*left: 50%;
  margin-left: -280px;*/
  outline: medium none;
  /*top: 10%;
  width: 560px;*/
  z-index: 1050;
}
.ui-dialog .ui-dialog-titlebar {
  /*padding: .4em 1em;*/
  position: relative;
  padding: 5px 15px!important;
  border: 0 0 0 1px solid;
  border-color: white;
  padding: 5px 15px;
  font-size: 18px;
  text-decoration: none;
  background: none;
  -webkit-border-bottom-right-radius: 0; /* Safari 4 */
  -moz-border-radius-bottomright: 0; /* Firefox 3.6 */
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0; /* Safari 4 */
  -moz-border-radius-bottomleft: 0; /* Firefox 3.6 */
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #ccc;
}
.ui-dialog .ui-dialog-title {
  float: left;
  color: #404040;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 19px;
  margin: -20px 0 0 0;
  padding: 1px;
  height: 18px;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter:alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  background: none;
  border-width: 0;
  border: none;
  -webkit-box-shadow: none; /* Safari 4 */
  -moz-box-shadow: none; /* Firefox 3.6 */
  box-shadow: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: -6px;
  text-indent: 9999px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 1px;
  filter:alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.90;   
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  background-color: #f5f5f5;
  padding: 5px 15px 5px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px; /* Safari 4 */
  -moz-border-radius: 0 0 6px 6px; /* Firefox 3.6 */
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff; /* Safari 4 */
  -moz-box-shadow: inset 0 1px 0 #ffffff; /* Firefox 3.6 */
  box-shadow: inset 0 1px 0 #ffffff;
  margin-bottom: 0;

}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: left;
  width: 100%;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}

.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  //color: #ffffff;
  //background-color: #0064cd;
  //background-repeat: repeat-x;
  //background-image: -webkit-linear-gradient(top, #049cdb, #0064cd); /* Safari 5.1+, Chrome 10+ */
  //background-image: -moz-linear-gradient(top, #049cdb, #0064cd); /* Firefox 3.6 */
  //background-image: -o-linear-gradient(top, #049cdb, #0064cd); /* Opera 11.10+ */
  //background-image: linear-gradient(top, #049cdb, #0064cd); /* CSS3 Compliant */
  //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0); /* IE8 */
  //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  //border-color: #0064cd #0064cd #003f81;
  //border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 2px 7px 2px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469;
  float: right;


}
.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:first-child{
  background: #8b9297;
  background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 2px 7px 2px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: #838a90;
  background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
  float: left;
}

#main_content {
  &.init
  {
    margin-right: 0px!important;
    .indexes {
      padding-right: 80px;
    }
  }
  &.close
  {
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    margin-right: 0px!important;
    .indexes {
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding-right: 80px;
    }
  }
  &.open
  {
  
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-right: 300px!important;
    .indexes {
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding-right: 0px;
    }
  }
}

.sidebar_section.panel.open
{
  max-height: 100%;
}
.sidebar_section.panel.close
{
  max-height: 28px;
}
#filters_sidebar_section
{ 
  cursor: pointer;
  .panel_contents
  {
      width: 270px;
  }
  i
  {
    float: left;
    padding-top: 6px;
    padding-left: 4px;
  }
  h3
  {
    padding-left: 20px;
  }
  &.init
  {
    width: 75px;
    -webkit-transform: translate(195px, 0px);
    height: 28px;
    .panel_contents
    {
      padding: 0px;
      height: 0px;
      opacity: 0;
      .filter_form
      {
        display: none;
      }
    }
  }
  &.close
  {
    
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  
    
    width: 75px;
    -webkit-transform: translate(195px, 0px);
    height: 28px;
  
    .panel_contents
    {

      padding: 0px;
      height: 0px;
      opacity: 0;
      .filter_form
      {
        display: none;
      }
    }
  }
  &.open
  {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    width: 270px;
    height: 100%;
    -webkit-transform: translate(0px, 0px);
    .panel_contents
    {
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 3px 15px 15px 15px;
      opacity: 1;
      height: 100%;
      .filter_form
      {
        display: block;
      }
    }
  }
}
body.admin_bouteilles.active_admin{
  #batch_actions_selector {
    .dropdown_menu_list_wrapper{
      margin-left: 70px;  
    }
    .dropdown_menu_nipple{
      left: 77.5px!important;
    }
    li {
      max-width: 310px!important;
      a
      {
        text-align: left;
      }
    }
  }
}

.tag{
  width: 20px;
  height: 20px;
  box-shadow: 1px 1psolid;
  -moz-box-shadow: 2px 2px 5px 0px #656565;
  -webkit-box-shadow: 2px 2px 5px 0px #656565;
  -o-box-shadow: 2px 2px 5px 0px #656565;
  box-shadow: 2px 2px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
input.color
{
  width: 50px!important;
}

body.logged_out {
    
  #wrapper {
    background:url(asset-path("default/bg-header.jpg", image));
  }

  #logo {
    margin-bottom:10px;
  }
  
  #footer {
    @include shadow(0, -1px, 20px, #666);
    border-top: 1px solid darken(#6A7176, 5%);
    @include gradient(#6A7176, #4D5256);
    width:100%;
    padding:30px 0px;
  }
  
  .tweets {
    width:100%;
    text-align:center;
    font-size:1.2em;
    color:#fff;
    @include text-shadow(0 1px 0 #000);
    
    a, a:visited, a:link, a:hover {
      color:#fff;
    }
    
  }
  
}
.chzn-choices
{
  border-radius: 3px;
}


body.active_admin
{
 
  #wrapper
  {
    #title_bar
    { 
      .action_items
      {
        a
        {
          padding: 7px 7px 7px 7px;
        }
      }
    }

    opacity:0;
    #footer 
    {
      @include shadow(0, -1px, 20px, #666);
      border-top: 1px solid darken(#6A7176, 5%);
      @include gradient(#6A7176, #4D5256);
      width:100%;
      padding:3px 0px;
      font-size: 1.0em;
      position: fixed;
      bottom: 0px;
      p
      {
        color: white;
        padding-left: 13px;
        padding-top: 16px;
      }
    }
  }
  &.logged_out
  {
    #footer 
    {
      padding: 26px 0px!important;
    }
  } 
}
.index_as_table{
  margin-bottom: 100px!important;
}
#index_footer{
  position: fixed;
  bottom: 55px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  .pagination {
    margin-right: 60px;
  }
  .pagination_information{
    padding-right: 60px;
  }
}