// Place all the styles related to the Bouteilles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.status_tag.rouge{
background-color: rgb(209, 0, 0);
}

span.status_tag.whisky{
background-color: rgb(238, 123, 33);
}
span.status_tag.rosé{
background-color: rgb(224, 187, 214)
}
span.status_tag.blanc{
background-color: rgb(228, 233, 193)
}
span.status_tag.apéritif{
background-color: rgb(62, 138, 33)
}
span.status_tag.effervescent{
background-color: rgb(71, 152, 255)
}